body{
    margin: 0;
    font-family: monospace, sans-serif;
 
}
#nav-bar{
    background-color: #FF014F;
    overflow: hidden;
    padding: 4px;
   position: sticky;
   top: 0;
    
}
#nav-bar ul li{
   float: right;
   padding: 20px;
   text-align: center;
  
}
#logo {
    float: left;
    margin-left: 20px;
    background-color: #1E2125;
    border-radius: 50%;
    
}
#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#nav-bar ul{
    list-style-type: none;
    margin: 0;
   
}
#nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;

}
#nav-bar ul li a:hover{
    font-size: 1.5em;
}
#main {
 
    height: 530px;
    padding: 40px;
    background-color: #212428;
}
#intro {
   
    float: left;
    width: 70%;
    margin-top: 10%;
    overflow: hidden;
}
#img-container {
  
    float: right;
    width: 30%;
    background-color: #1E2125;
    text-align: center;
    height: 70%;
    margin-top: 7%;
    /* box-shadow: 0 4px 8px 0 #FF014F; */
    box-shadow: 0px 2px 6px 0px white;
    overflow: hidden;

    
}
#img-container img{
   width: 300px;
   height: 300px;
    
}

#main h1{
    color: white;
    font-size: 3.5rem;
    margin: 0;
}

#main h1 span{
    color:#FF014F;

}

#main h5{
    font-size: 1rem;
    font-family:  'Trebuchet MS', sans-serif;
    color: #AAB5C2;
}


#main p{
   font-size: 1.1em;
   color: #AAB5C2;
   
}

#aboutme{
    padding: 50px;
}

#aboutme h1{
    text-align: center;
    font-size: 3rem;
  color: #FF014F;
    margin-bottom:0px ;
}

#aboutme p{
    font-size: 17px;
    color: #1E2125;
}

#aboutme hr{
    border: 1px solid #212428aa;
    width: 12%;
}

#myskills{
    background-color: #212428;
 padding-top: 6px;

}
#myskills h1{
    text-align: center;
    font-size: 3rem;

  color: white;
    
}
.skills-container {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 50px;
   

  }
  .skills-item {
 
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: #FF014F;
    margin-right: 20px;
   
  }

  .skills-item h2 {
 
  font-size: 24px;
  }

  
  .skills-item p {
 
    font-size: 16px;
    text-align: justify;
    }

    .icon-style{
        color: #1E2125;
    }
    
#footer{
    background-color: #FF014F;
   
}

#footer h6{
    margin: 0%;
    
}


#footer{
    background-color: #FF014F;
    overflow: hidden;
    padding: 4px;
   position: sticky;
   top: 0;
    
}
#footer ul li{
   float: right;
   padding: 15px;
   text-align: center;
  
}
#copyright {
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    margin-top: 24px;
}


#footer ul{
    list-style-type: none;
    margin: 0;
   
}
#footer ul li a{
    text-decoration: none;
    padding: 6px;
    font-size: 2em;
    color: white;
   
    font-weight: bold;

}
#footer ul li a:hover{
    font-size: 2.3rem;
    color: #1A8BD7;
}
#abovefooter{
    background-color: white;
    text-align: center;
    color: #FF014F;
  
    padding: 50px;
}

#abovefooter >div{
    margin-right: 15%;
    margin-left: 15%;
}

#abovefooter h3{
    color: #212428;
}
#abovefooter p{
    font-size: 16px;
    color: black;
}

#abovefooter button{
    background-color: #FF014F;
    color: #212428;
    font-size: 16px;
   
    border: none;
   border-radius: 4px;
    padding: 10px;
}

#abovefooter button a{
    text-decoration: none;
    color: #212428;
}

#abovefooter button:hover{
  opacity: 0.9;  
}  

